
/*-----------------------------------------------------------------NAVIGATION */

nav {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;

  display: block;

}

/*MOBILE NAV*/

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  top: 0;
  height: 40px;
  overflow: hidden;
  position: absolute;
  z-index: 2001;
  left: 0;
  width: 46px;
  margin: 1rem;

  background: transparent url("../img/icon-nav.svg") no-repeat 0 0;
  border: 0;

  text-indent: 100%;
  white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;

  background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
  background-position: -46px -40px;
}

.nav {
  overflow: hidden;
  padding: 0;
  width:100%;

  background-color: #333;

  z-index: 2000;
    position: relative;


  text-align:center;
}

@media only screen and (min-width: 70em){
  .nav {
    width: 10rem;
  }
}

.nav li {
  padding: 0;
  width:100%;
}

.nav > ul {
  margin: 4rem 0 0 0 ;
  padding: 0;
  width:100%;


  display: inline-block;

  list-style-type: none;
  font-size: 1.25rem;
  text-align: left;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  padding: 10px;
  width: 100%;

    -webkit-transition:all 0.3s ease-in-out;
  color:#555555;
  transition:all 0.3s ease-in-out;


  border: 0;

  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {

  background-color: #666;
  width:100%;
}

.nav-bottom {
  margin-top: 1.5rem;
}

.nav-top {
  max-height: 0;

  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
  max-height: 20rem;

}

/*LARGE NAV*/

.large-nav {
  display: none;

  margin: .5rem 0 0 0;

  font-size: 1.1rem;
}

.large-nav ul a{
  text-decoration: none;

  color:#fff;
}

.large-nav li {
  list-style-type: none;
  display: inline;

  padding: 10px;
}

.large-nav a:hover,
.large-nav a:active,
.large-nav a:focus {
  -webkit-transition:all 0.3s ease-in-out;
  color:#555555;
  transition:all 0.3s ease-in-out;
}

