h3 {
  letter-spacing: .1px;

  text-align: center;
}

.work-p {
  padding-left: 20px;

  text-align: left;
}


.work-nav li{
  display: inline;
  padding: 10px;

  list-style-type: none;

  letter-spacing: .1px;
}


.work-div {
  position: absolute;
  top:-50;


  padding: 30px;

  text-align: center;
}

/*ICELAND*/

#iceland img {
  margin-left: 8px;
}
