h3 {
  letter-spacing: .1px;

  text-align: center;
}

.work-p {
  padding-left: 20px;

  text-align: left;
}


.work-nav li{
  display: inline;
  padding: 10px;

  list-style-type: none;

  letter-spacing: .1px;

  text-align: center;
}


.work-div {
  top: 0;
  width: 100%;
  position: absolute;

  background-color: #fff;

  /*height: 100%;*/


  padding: 30px;

  text-align: center;
}

@media only screen and (min-width: 40em) {

  .work-nav {
    font-size: 2rem;
  }
}
