<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>Cassie Slack • Intern for Shopify</title>

   <!--Mobile Optimization -->

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--CSS-->

  <link href="../css/shopify-app.css" rel="stylesheet">

  <!--FONT-->

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

  <header>

    <!--Nav-->

    <a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
    <nav class="nav nav-top" data-state="collapsed">
      <ul>
        <li><a href="{{site.baseurl}}/">HOME</a></li>
        <li><a href="#">WORK</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>

  </header>

  {{content}}

  <footer>
    ©CSLACK DESIGN 2013
  </footer>

  <!--SCRIPTS-->

  <script src="../js/footer-toggle-hybrid.js"></script>
  <script src="../js/jquery-1.10.2.min.js"></script>
  <script src="../js/work-div.js"></script>

</body>
</html>
